{{> navbar}}

<main class="container wrapper">
    <header>
        <h1>All Characters</h1>
    </header>
    <div class="row">
        <ul class="col l8 collection character-collection">
            {{#each characters}}
            <li class="collection-item">{{name}}
                <form action="/change-default-char" method="POST">
                    <input name="characterId" hidden value="{{_id}}">
                    <a href="/inventory/{{_id}}" class="btn">Inventory</a>
                    <button type="submit" class="btn btn-info">Make default</button>
                </form>
            </li>
            {{/each}}
        </ul>
    </div>
    {{#if successMsg}}
    <h2 class="alert alert-success">{{successMsg}}</h2>
    {{/if}}
    {{#if errorMsg}}
    <h2 class="alert alert-danger">{{errorMsg}}</h2>
    {{/if}}
</main>