{{> navbar}}
<main class="container wrapper inventory">
    <header>
        <h1>Hi, <strong>{{player.name}}!</strong></h1>
    </header>
    {{#with player}}
    <form>
        {{#with inventory}}
        <div class="grid">
            <div class="card potion-card">
                <h3 class="delete-alert alert alert-success card-title" style="display: none;">
                </h3>
                <h3 class="card-title">Potions <img src="/assets/images/potion.png" class="title-image" alt="potion">
                </h3>
                <div class="card-content">
                    {{#each potions}}
                    <div class="row potion-row" data-name="{{name}}" data-quantity="{{quantity}}">
                        {{> input}}
                    </div>
                    {{/each}}
                    <div class="row potion-row">
                        {{> input-nondynamic}}
                    </div>
                </div>
                {{> add-btn}}
            </div>
            <div class="card weapon-card">
                <h3 class="card-title">Weapons <img src="/assets/images/knife.png" alt="knife" class="title-image"></h3>
                <div class="card-content">
                    {{#each weapons}}
                    <div class="row weapon-row" data-name="{{name}}" data-quantity="{{quantity}}">
                        {{> input}}
                    </div>
                    {{/each}}
                    <div class="row weapon-row">
                        {{> input-nondynamic}}
                    </div>
                </div>
                {{> add-btn}}
            </div>
            <div class="card misc-card">
                <h3 class="card-title">Miscellaneous <img src="/assets/images/bag-only.png" alt="bag"
                        class="title-image"></h3>
                <div class="card-content">
                    {{#each misc}}
                    <div class="row misc-row" data-name="{{name}}" data-quantity="{{quantity}}">
                        {{> input}}
                    </div>
                    {{/each}}
                    <div class="row misc-row">
                        {{> input-nondynamic}}
                    </div>
                </div>
                {{> add-btn}}
            </div>

            <div class="card money-card">
                <h3 class="card-title">Money <i class="fas fa-coins" style="color: gold;"></i></h3>
                <div class="card-content">
                    <div class="card-grid">
                        <div class="input-field">
                            <label for="gold" class="prefixed-label">Gold</label>
                            <input type="number" class="gold preloaded" placeholder="0" value="{{gold}}">
                        </div>
                        <div class="input-field">
                            <label for="silver" class="prefixed-label">Silver</label>
                            <input type="number" class="silver preloaded" placeholder="0" value="{{silver}}">
                        </div>
                        <div class="input-field">
                            <label for="platinum" class="prefixed-label">Platinum</label>
                            <input type="number" class="platinum preloaded" placeholder="0" value="{{platinum}}">
                        </div>
                        <div class="input-field">
                            <label for="copper" class="prefixed-label">Copper</label>
                            <input type="number" class="copper preloaded" placeholder="0" value="{{copper}}">
                        </div>
                        <div class="input-field">
                            <label for="electrum" class="prefixed-label">Electrum</label>
                            <input type="number" class="electrum preloaded" placeholder="0" value="{{electrum}}">
                        </div>
                    </div>
                    <p class="money-total"></p>
                </div>
            </div>
        </div>
        </div>
        {{/with}}
        <aside class="card" style="margin-top: 0.5rem; background: transparent;">
            <h3 class="card-title" style="margin: 0; padding: 0.5rem; background: var(--third);">Change Log 📋</h3>
            <ul class="collection" style="max-height: 15rem; overflow-y: auto; margin-top: 0;">
                {{#each changelog}}
                <li class="collection-item changelog-item" style="background: transparent; border: unset;"
                    data-time="{{on}}">
                    <code>{{command}}</code></li>
                {{/each}}
            </ul>
        </aside>
        <div class="row" style="display: flex; justify-content: space-around;">
            <button class="btn btn-large red darken-1 waves-effect waves-orange reset" type="button">Reset <i
                    class="material-icons right">undo</i></button>
            <button class="btn btn-large purple lighten-1 waves-effect waves-orange submit" type="submit">Save <i
                    class="material-icons right">send</i></button>
        </div>
    </form>
    {{/with}}
</main>